Fire
youtube_dl
googledrivedownloader
librosa
numpy
pillow
future
matplotlib
scipy
scikit-learn
six
imageio
pandas
tqdm
setuptools
torch
sklearn
torchvision
opencv-python
torchtree
pydub
path
pretty_midi
soundfile
solos
tensorflow